<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC test</title>
    <style>
    button {
        padding: 8px 16px;
    }

    video {
        width: 100%;
    }

    #media {
        max-width: 1280px;
    }
    </style>
</head>
<body>
{% block content %}
<h1>Media sources</h1>
<select id="cams">
    {% for cam in cams %}
        <option value="{{cam['id']}}">{{cam['name']}} {{cam['id']}}</option>
    {% endfor %}
</select>
<button id="start" onclick="start(); classify()">Start</button>
<button id="stop" style="display: none" onclick="stop(); stopClassify()">Stop</button>

<div id="media">
    <h2>Player</h2>
    <audio id="audio" autoplay=></audio>
    <video id="video" autoplay muted playsinline></video>
</div>


<script src="./static/client.js"></script>
{% endblock %}
</body>
</html>
